.code {
  div {
    padding-bottom: 1rem;
  }
}

.playStore {
  background-image: url("./../../assets/img/get-play.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3rem;
  width: 48%;
}
.appStore {
  background-image: url("./../../assets/img/get-app.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3rem;
  width: 48%;
}
