.profileList {
  ion-label {
    font-weight: bold;
    color: gray !important;
  }
  svg {
    background-color: gray !important;
    color: white !important;
    vertical-align: middle;
    border-radius: 50%;
    font-size: xx-large;
    padding: 2px;
  }
}
