@media (max-width: 575.98px) {
    #headerset {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

// @media (min-width: 1200px) {
//     #headerset {
//         position: relative;
//         padding-top: 1rem;
//         padding-bottom: 1rem;
//     }
// }